@import '../../variables.scss';

.loft-wrapper {
  position: relative;
}

.loft {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

}


 
.loft-filters {
  display: flex;
  justify-content: space-between;

  .filter-wrapper {
    padding: 5px;
    position: relative;

    .clear-search {
      font-family: $altFont;
      right: 13px;
      top: 13px;
      position: absolute;
      cursor: pointer;
    }
  }

  .loft-search {
    width: 250px;
    border-radius: 100px;
    height: 25px;
    padding-left: 6px;
    border: 2px solid #ccc;
    outline: none;
  }
}

.loft-filter {
  display: inline-block;
  margin: 4px 6px;
}


.filter-messages {

  &.has-messages {
    position: relative;

    &:before {
      font-family: $altFont;
      display: block;
      content: attr(data-message-count);
      position: absolute;
      right: -5px;
      top: -5px;
      background: red;
      border-radius: 100px;
      color: white;
      width: 16px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      font-size: 12px;
    }
  }
}


