@import '../../variables.scss';

.pigeon {
  width: 10vw;
  display: inline-block;
  margin: 8px 8px;
  padding: 8px 12px;
  background-color: #eee;

  a {
    font-size: 14px;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  &.has-message {
    position: relative;
          
    &:before {
      font-family: $altFont;
      display: block;
      content: "New Message";
      position: absolute;
      right: 12px;
      top: 8px;
      background: red;
      border-radius: 100px;
      color: white;
      // width: 16px;
      height: 16px;
      line-height: 14px;
      text-align: center;
      font-size: 12px;
      padding: 0 3px;
    }
  }
}

.pigeon img {
  width: 100%;
}